/**************************************************** custom default */
@import url('https://fonts.googleapis.com/css2?family=Sue+Ellen+Francisco&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sue Ellen Francisco', Arial, Helvetica, sans-serif;
  list-style: none;
  color: #1d2951;
}

body {
  text-align: center;
  cursor: default;
  background-color: #e0ffff;
}

/**************************************************** modal */
#modalBg {
  display: none;
  background-color: rgba(0, 0, 0, 0.527);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

#modalInfo {
  background-image: linear-gradient(to right, #00ffff, #00b7eb);
  border: 0.2rem solid #00ffff;
  width: 50%;
  border-radius: 1rem;
  padding: 0.5rem;
  position: relative;
  top: -16rem;
  margin: auto 5rem;
}

#modalInfo p {
  font-size: 3rem;
}

#replayBtn {
  font-size: 2em;
  cursor: pointer;
}

#replayBtn:hover {
  color: #00ffff;
}

@media (min-width: 600px) {
  #modalInfo {
    width: 20rem;
  }

  #modalInfo p {
    font-size: 4rem;
  }

  #replayBtn {
    font-size: 3em;
  }
}

@media (min-width: 1250px) {
  #modalInfo {
    top: -10rem;
  }
}

/**************************************************** title */
#mainTitle {
  font-size: 3rem;
  margin-top: 0.5rem;
}

@media (min-width: 1250px) {
  #mainTitle {
    font-size: 4rem;
    margin-top: 0rem;
  }
}

/**************************************************** buttons */
#optionBtnBg {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  align-items: center;
  justify-items: stretch;
  grid-gap: 0.5rem;
  padding: 0 0.5rem;
  margin-top: 1rem;
}

#optionBtnBg button {
  cursor: pointer;
  border: solid 0.2rem #1d2951;
  border-radius: 1rem;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-weight: bold;
}

#optionBtnBg button:first-child {
  background-color: #9932cc;
}

#optionBtnBg button:first-child:hover {
  background-color: #dcd0ff;
}

#optionBtnBg button:nth-child(2) {
  background-color: #ff5349;
}

#optionBtnBg button:nth-child(2):hover {
  background-color: #ff9999;
}

#optionBtnBg button:last-child {
  background-color: #4169e1;
}

#optionBtnBg button:last-child:hover {
  background-color: #abcdef;
}

@media (min-width: 600px) {
  #optionBtnBg button {
    font-size: 2rem;
    padding: 0;
  }
}

@media (min-width: 1250px) {
  #optionBtnBg {
    margin-top: 0.5rem;
  }

  #optionBtnBg button {
    font-size: 3rem;
  }
}

/**************************************************** para text */
.paraInstruction {
  font-size: 3.5rem;
  color: #1d2951;
  font-weight: bold;
  margin: 9rem auto;
}

@media (min-width: 600px) {
  .paraInstruction {
    font-size: 4rem;
  }
}

@media (min-width: 1250px) {
  .paraInstruction {
    font-size: 4.5rem;
  }
}

/**************************************************** images */
#wholePicGame {
  display: none;
}

.imgOptions {
  margin-top: 2rem;
}

.imgOptions figure img {
  width: 14rem;
  height: 10rem;
  border: solid 0.3rem #1d2951;
}

@media (min-width: 600px) {
  .imgOptions figure img {
    width: 20rem;
    height: 13rem;
  }
}

@media (min-width: 900px) {
  #wholePicGame {
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    margin: 7rem auto;
  }
}

@media (min-width: 1250px) {
  .imgOptions figure img {
    width: 30rem;
    height: 20rem;
  }

  #wholePicGame {
    margin: 4rem auto;
  }
}

/**************************************************** divider */
#divider {
  width: 100%;
  height: 1rem;
  border: solid 0.5rem #1d2951;
  margin-top: 2rem;
}

@media (min-width: 900px) {
  #divider {
    height: 20rem;
    border-left: solid 0.1rem #1d2951;
    margin-top: 0;
  }
}

@media (min-width: 1250px) {
  #divider {
    height: 23rem;
    margin-top: 1rem;
  }
}
